# Q1. Join Tuple if similar initial element

In [2]:
test_list = [(5, 6), (5, 7), (6, 8), (6, 10), (7, 13)]
print("The original list is : " + str(test_list))
res = []
for sub in test_list:
    if res and res[-1][0] == sub[0]:
        res[-1].extend(sub[1:])
    else:
        res.append([ele for ele in sub])
res = list(map(tuple, res))
 
print("The extracted elements : " + str(res))

The original list is : [(5, 6), (5, 7), (6, 8), (6, 10), (7, 13)]
The extracted elements : [(5, 6, 7), (6, 8, 10), (7, 13)]

# Q2 Multiply Adjacent elements(both side) and take sum of right and left side multiplication result.

In [4]:
test_tup = (1, 5, 7, 8, 10) 
 
print("The original tuple : " + str(test_tup)) 
res = tuple(i * j for i, j in zip(test_tup, test_tup[1:])) 
 
print("Resultant tuple after multiplication : " + str(res))

The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : (5, 35, 56, 80)

# Q3 check is tuples are same or not

In [6]:
t1=(1,2,3,0)
t2=(0,1,2,3)
if(t1==t2):
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

# Q4 Count no of tuples, list and set from a list

In [12]:
list1=[{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
check_list=[{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
(list1) 
print("List ",[check_list])

List  [[{'bye', 'hi'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]]

# Q5 Shortlist students for a job role

# Set

# Q1 Write a program to find set of common elements in three lists using sets

In [34]:
ar1 = [1, 5, 10, 20, 40, 80, 100]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

arr1 = set(ar1)
arr2 = set(ar2)
arr3 = set(ar3)
set1 = arr1.intersection(arr2)         
result_set = set1.intersection(arr3)
    
final_list = list(result_set)
print(final_list)

[80, 20]

# Q2 Write a program to count unique number of vowels using sets in a given string.

In [27]:
# lowercase and uppercase vowels will be taken as different.
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowels = "o"
 
count = sum(str1.count(vowel) for vowel in vowels)
print("No of unique vowels-",count)

No of unique vowels- 6

# Q3 Write a program to check if a given string is binary string or not

In [40]:
string = "01010101010"
if(string.count('0')+string.count('1')==len(string)):
    print("Yes")
else:
    print("No")
string = "1222211"
if(string.count('1')+string.count('2')==len(string)):
    print("Yes")
else:
    print("No")
    string = "Campusx"
if(string.count('0')+string.count('1')==len(string)):
    print("Yes")
else:
    print("No")

Yes
Yes
No

# Q4 Find the union of n arrays

In [89]:
def combineAll(input):

    result = set(input[0])
    for array in input[1:]:
        result.update(array)
        return (result)
    
    input = [[1, 2, 2, 4, 3, 6],
            [5, 1, 3, 4],
            [9, 5, 7, 1],
            [2, 4, 1, 3]]
combineAll(input)

{1, 2, 3, 4, 5, 6}

# Q5 intersection of two lists. intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. using comprehension.

In [104]:

lst1={15,9,10,56,23,78,5,4,9}
lst2={9,4,5,36,47,26,10,45,87}

lst1.intersection(lst2)

{4, 5, 9, 10}

In [109]:
lst1={4,9,1,17,11,26,28,54,69}
lst2={9,9,74,21,45,11,63,28,26}

lst1.intersection(lst2)

{9, 11, 26, 28}

# Dictionary

# Q1 Key with maximum unique value

In [3]:

test_dict={"campusX":[5,7,9,4,0],"is":[6,7,4,3,3],"Best":[9,9,6,5,5]}

max(zip(test_dict.values(),test_dict.keys()))[1]

'Best'

In [115]:
test_dict={"campusX":[5,7,7,7,7],"is":[6,7,7,7],"Best":[9,9,6,5,5]}
max(zip(test_dict.values(),test_dict.keys()))[1]

'Best'

# Q2 Replace words from dictionary. Given string , replace it's words from lookup dictionary

In [1]:
test_str = 'CampusX best for DS students.'
 
print("The original string is : " + str(test_str))
 
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
 
res = " ".join(repl_dict.get(ele, ele) for ele in test_str.split())
print("Replaced Strings :"+str(res))

The original string is : CampusX best for DS students.
Replaced Strings :CampusX is the best channel for Data-Science students.

In [2]:
test_str = 'CampusX best for DS students.'
 
print("The original string is : " + str(test_str))
 
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
 
res = " ".join(repl_dict.get(ele, ele) for ele in test_str.split())
print("Replaced Strings :"+str(res))

The original string is : CampusX best for DS students.
Replaced Strings :CampusX best for DS students.

# Q3 Convert list to list of dictionaries. given list values and keys list, convert these values to key  value pair in from of list of dictionaries.

In [10]:
test_list=["DataScience", 3,"is",8]
key_list=["name","id"]
res = []
for pair in zip(test_list[::2], test_list[1::2]):
    res.append({key_list[0]: pair[0], key_list[1]: pair[1]})
print(""+str(res))

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [11]:
test_list=["CampusX",10]
key_list=["name","id"]
res = []
for pair in zip(test_list[::2], test_list[1::2]):
    res.append({key_list[0]: pair[0], key_list[1]: pair[1]})
print(""+str(res))

[{'name': 'CampusX', 'id': 10}]

# Q4 Convert a list of Tuples into Dictionary.

In [16]:
def Convert(tup, di):
    for a, b in tup:
        di.setdefault(a, []).append(b)
    return di
 
tuple = [("akash", 10), ("gaurav", 12), ("anand", 14),
        ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dictionary = {}
print(Convert(tuple, dictionary))

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [14]:
def convert(tup,di):
    for a, b in tup:
        di.setdefault(a,[]).append(b)
        return di

tuple = [('A',1),('B',2),('C',3)]
dictionary = {}
print(Convert(tuple, dictionary))

{'A': [1], 'B': [2], 'C': [3]}

# Q5 Sort Dictionary key and values list.

In [28]:
dict={'c':[3],'b':[12,10],'a':[19,4]}
res = {key : sorted(dict[key]) for key in sorted(dict)}
 
 
print(""+  str(res))

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [30]:
dict1={'c':[3,10,34]}
res = {key : sorted(dict1[key]) for key in sorted(dict1)}
 
 
print(""+  str(res))

{'c': [3, 10, 34]}